c++/src/build-system/project_tree_builder/msbuild/msbuild_dataobj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/developer/msbuild/2003" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msb="http://schemas.microsoft.com/developer/msbuild/2003"
elementFormDefault="qualified">

<!--
    This is a stripped-down and modified version of Microsoft.Build.Commontypes.xsd
-->
    <!-- =================== INCLUDE COMMON SCHEMA =========================== -->
    <xs:include schemaLocation="msbuild_dataobj_core.xsd"/>
    
    <!-- ======================== ITEMS =====================================-->
    <!-- Possible Types include SimpleItemType (no meta-data subelements), GenericItemType (any meta-data), or something more specific.-->
    <xs:element name="Reference" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Reference" _locComment="" -->Reference to an assembly</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="HintPath">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_HintPath" _locComment="" -->Relative or absolute path to the assembly (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Name">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_Name" _locComment="" -->Friendly display name (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FusionName">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_FusionName" _locComment="" -->Fusion name of the assembly (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                            
                            <xs:element name="SpecificVersion">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_SpecificVersion" _locComment="" -->Whether only the version in the fusion name should be referenced (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Aliases">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_Aliases" _locComment="" -->Aliases for the reference (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Private">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_Private" _locComment="" -->Whether the reference should be copied to the output folder (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                          <xs:element name="EmbedInteropTypes" type="msb:boolean">
                            <xs:annotation>
                              <xs:documentation><!-- _locID_text="Reference_EmbedInteropTypes" _locComment="" -->Whether the types in this reference need to embedded into the target assembly - interop asemblies only (optional, boolean)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="RequiredTargetFramework">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_RequiredTargetFramework" _locComment="" -->The minimum required target framework version in order to use this assembly as a reference</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="Reference_Include" _locComment="" -->Assembly name or filename</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="COMReference" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="COMReference" _locComment="" -->Reference to a COM component</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="Name">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_Name" _locComment="" -->Friendly display name (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Guid">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_Guid" _locComment="" -->GUID in the form {00000000-0000-0000-0000-000000000000}</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VersionMajor">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_VersionMajor" _locComment="" -->Major part of the version number</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VersionMinor">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_VersionMinor" _locComment="" -->Minor part of the version number</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Lcid">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_Lcid" _locComment="" -->Locale ID</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="WrapperTool">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_WrapperTool" _locComment="" -->Wrapper tool, such as tlbimp</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Isolated">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="COMReference_Isolated" _locComment="" -->Is it isolated (boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                          <xs:element name="EmbedInteropTypes" type="msb:boolean">
                            <xs:annotation>
                              <xs:documentation><!-- _locID_text="COMReference_EmbedInteropTypes" _locComment="" -->Whether the types in this reference need to embedded into the target assembly - interop asemblies only (optional, boolean)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="COMReference_Include" _locComment="" -->COM component name</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed COMFileReference -->
<!-- ncbi: removed Xdcmake -->
<!-- ncbi: removed Bscmake -->
  <xs:element name="ClCompile" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element  name="PrecompiledHeader" minOccurs="0" >
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="Condition" use="optional"></xs:attribute>
                </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AdditionalIncludeDirectories" />
            <xs:element name="AdditionalUsingDirectories" />
            <xs:element name="CompileAsManaged" >
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="Condition" use="optional"></xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="ErrorReporting" />
            <xs:element name="WarningLevel" />
            <xs:element name="MinimalRebuild" />
            <xs:element name="DebugInformationFormat" />
            <xs:element name="PreprocessorDefinitions" />
            <xs:element name="Optimization" />
            <xs:element name="BasicRuntimeChecks" />
            <xs:element name="RuntimeLibrary" />
            <xs:element name="FunctionLevelLinking" />
            <xs:element name="FloatingPointModel " />
            <xs:element name="IntrinsicFunctions" />
            <xs:element name="PrecompiledHeaderFile"/>
            <xs:element name="MultiProcessorCompilation" />
            <xs:element name="UseUnicodeForAssemblerListing" />
            <xs:element name="UndefinePreprocessorDefinitions" />
            <xs:element name="StringPooling" />
            <xs:element name="BrowseInformation" />
            <xs:element name="FloatingPointExceptions" />
            <xs:element name="CreateHotpatchableImage" />
            <xs:element name="RuntimeTypeInfo" />
            <xs:element name="OpenMPSupport" />
            <xs:element name="CallingConvention" />
            <xs:element name="DisableSpecificWarnings" />
            <xs:element name="ForcedIncludeFiles" />
            <xs:element name="ForcedUsingFiles" />
            <xs:element name="ShowIncludes" />
            <xs:element name="UseFullPaths" />
            <xs:element name="OmitDefaultLibName" />
            <xs:element name="TreatSpecificWarningsAsErrors" />
            <xs:any processContents="lax"/>
         </xs:choice>
       </xs:extension>
      </xs:complexContent>
     </xs:complexType>
   </xs:element>
  <xs:element name="ClInclude" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="AdditionalIncludeDirectories" minOccurs="0"/>
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Midl" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="MkTypLibCompatible" />
            <xs:element name="ValidateAllParameters" type="msb:boolean" />
            <xs:element name="PreprocessorDefinitions" />
            <xs:element name="TypeLibraryName" />
            <xs:element name="ErrorCheckRefPointers" />
            <xs:element name="ErrorCheckStubData" />
            <xs:element name="ErrorCheckBounds" />
            <xs:element name="HeaderFileName" />
            <xs:element name="ErrorCheckEnumRange" />
            <xs:element name="ErrorCheckAllocations" />
            <xs:element name="WarnAsError" />
            <xs:element name="GenerateTypeLibrary" />
            <xs:element name="AdditionalIncludeDirectories" />
            <xs:element name="IgnoreStandardIncludePath" />
            <xs:element name="SuppressStartupBanner" />
            <xs:element name="DefaultCharType" />
            <xs:element name="TargetEnvironment" />
            <xs:element name="GenerateStublessProxies" />
            <xs:element name="SuppressCompilerWarnings" />
            <xs:element name="ApplicationConfigurationMode" />
            <xs:element name="LocaleID" />
            <xs:element name="OutputDirectory" />
            <xs:element name="DllDataFileName" />
            <xs:element name="InterfaceIdentifierFileName" />
            <xs:element name="ProxyFileName" />
            <xs:element name="GenerateClientFiles" />
            <xs:element name="GenerateServerFiles" />
            <xs:element name="ClientStubFile"/>
            <xs:element name="ServerStubFile" />
            <xs:element name="TypeLibFormat" />
            <xs:element name="CPreprocessOptions" />
            <xs:element name="UndefinePreprocessorDefinitions" />
            <xs:element name="EnableErrorChecks" />
            <xs:element name="RedirectOutputAndErrors" />
            <xs:element name="AdditionalOptions" />
            <xs:element name="StructMemberAlignment" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceCompile" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="Culture"/>
            <xs:element name="PreprocessorDefinitions"/>
            <xs:element name="AdditionalIncludeDirectories"/>
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkEvent" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="Message"/>
            <xs:element name="Command" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomBuildStep" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="Outputs" />
            <xs:element name="Message" />
            <xs:element name="Inputs" />
            <xs:element name="Command" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
<!--  NCBI modification begin -->
  <xs:element name="CustomBuild" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="Outputs" />
            <xs:element name="Message" />
            <xs:element name="Inputs" />
            <xs:element name="Command" />
            <xs:any processContents="lax"/>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
<!--  NCBI modification end -->
  <xs:element name="Manifest" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:choice minOccurs ="0" maxOccurs="unbounded">
            <xs:element name="AssemblyIdentity" />
            <xs:element name="AdditionalManifestFiles" />
            <xs:element name="InputResourceManifests" />
            <xs:element name="EnableDPIAwareness" />
            <xs:element name="TypeLibraryFile" />
            <xs:element name="OutputManifestFile" />
            <xs:element name="SuppressStartupBanner" />
            <xs:element name="VerboseOutput" />
            <xs:element name="ResourceOutputFileName" />
            <xs:element name="GenerateCatalogFiles" />
            <xs:element name="DependencyInformationFile" />
            <xs:element name="ManifestFromManagedAssembly" />
            <xs:element name="SuppressDependencyElement" />
            <xs:element name="GenerateCategoryTags" />
            <xs:element name="RegistrarScriptFile" />
            <xs:element name="ComponentFileName" />
            <xs:element name="ReplacementsFile" />
            <xs:element name="UpdateFileHashesSearchPath" />
            <xs:element name="AdditionalOptions" />
            <xs:element name="OutputResourceManifests" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectConfiguration" substitutionGroup="msb:Item">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="msb:SimpleItemType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Configuration" maxOccurs="1"/>
            <xs:element name="Platform" maxOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
    <xs:element name="NativeReference" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="NativeReference" _locComment="" -->Reference to a native manifest file, or to a file that contains a native manifest</xs:documentation>
        </xs:annotation>        
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="Name">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="NativeReference_Name" _locComment="" -->Base name of manifest file</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="HintPath">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="NativeReference_HintPath" _locComment="" -->Relative path to manifest file</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="NativeReference_Include" _locComment="" -->Reference full name</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProjectReference" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="ProjectReference" _locComment="" -->Reference to another project</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="Name">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="ProjectReference_Name" _locComment="" -->Friendly display name (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Project">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="ProjectReference_Project" _locComment="" -->Project GUID, in the form {00000000-0000-0000-0000-000000000000}</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ReferenceOutputAssembly" type="msb:boolean">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="ProjectReference_Reference" _locComment="" -->Boolean specifying whether the outputs of the project referenced should be passed to the compiler. Default is true.</xs:documentation>
                                </xs:annotation>
                            </xs:element> 
                            <xs:element name="SpecificVersion">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Reference_SpecificVersion" _locComment="" -->Whether the exact version of the assembly should be used.</xs:documentation>
                                </xs:annotation>
                            </xs:element>                            
                            <xs:element name="Targets">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="ProjectReference_Targets" _locComment="" -->Semicolon separated list of targets in the referenced projects that should be built. Default is the value of $(ProjectReferenceBuildTargets) whose default is blank, indicating the default targets.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="OutputItemType">
                             <xs:annotation>
                               <xs:documentation>
                                 <!-- _locID_text="ProjectReference_OutputItemType" _locComment="" -->Item type to emit target outputs into. Default is blank. If the Reference metadata is set to "true" (default) then target outputs will become references for the compiler.
                               </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="Package"/>
                            <xs:element name="EmbedInteropTypes" type="msb:boolean">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="ProjectReference_EmbedInteropTypes" _locComment="" -->Whether the types in this reference need to embedded into the target assembly - interop asemblies only (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="ProjectReference_Package" _locComment="" -->Path to project file</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="Compile" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Compile" _locComment="" -->Source files for compiler</xs:documentation>
        </xs:annotation>        
        <xs:complexType>           
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">                       
                        <xs:choice>
                            <xs:element name="SubType"/>
                            <xs:element name="DependentUpon"/>
                            <xs:element name="AutoGen">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Compile_AutoGen" _locComment="" -->Whether file was generated from another file (boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                 
                            <xs:element name="DesignTime"/>
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Compile_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DesignTimeSharedInput"/>
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Compile_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="CopyToOutputDirectory"/>
                            <xs:element name="VBMyExtensionTemplateID"/>
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="Compile_Include" _locComment="" -->Semi-colon separated list of source files (wildcards are allowed)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EmbeddedResource" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="EmbeddedResource" _locComment="" -->Resources to be embedded in the generated assembly</xs:documentation>
        </xs:annotation>        
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="DependentUpon"/>
                            <xs:element name="Generator">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="EmbeddedResource_Generator" _locComment="" -->Name of any file generator that is run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                               
                            <xs:element name="LastGenOutput">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="EmbeddedResource_LastGenOutput" _locComment="" -->File that was created by any file generator that was run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                 
                            <xs:element name="CustomToolNamespace">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="EmbeddedResource_CustomToolNamespace" _locComment="" -->Namespace into which any file generator that is run on this item should create code</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="EmbeddedResource_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="EmbeddedResource_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="SubType"/>
                            <xs:element name="CopyToOutputDirectory"/>
                            <xs:element name="LogicalName"/>
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="EmbeddedResource_Include" _locComment="" -->Semi-colon separated list of resource files (wildcards are allowed)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Content" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Content" _locComment="" -->Files that are not compiled, but may be embedded or published</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="DependentUpon"/>
                            <xs:element name="Generator">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Content_Generator" _locComment="" -->Name of any file generator that is run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                  
                            <xs:element name="LastGenOutput"/>
                            <xs:element name="CustomToolNamespace"/>
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Content_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Group"/>
                            <xs:element name="PublishState">
                               <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Content_PublishState" _locComment="" -->Default, Included, Excluded, DataFile, or Prerequisite</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="IsAssembly"/>
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Content_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SubType"/>
                            <xs:element name="CopyToOutputDirectory">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Content_CopyToOutputDirectory" _locComment="" -->Copy file to output directory (optional, boolean, default false)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                    
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="Content_Include" _locComment="" -->Semi-colon separated list of content files (wildcards are allowed)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="Page" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Page" _locComment="" -->XAML files that are converted to binary and compiled into the assembly</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="DependentUpon"/>
                            <xs:element name="Generator">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Page_Generator" _locComment="" -->Name of any file generator that is run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                  
                            <xs:element name="LastGenOutput"/>
                            <xs:element name="CustomToolNamespace"/>
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Page_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Group"/>
                            <xs:element name="SubType"/>
                            <xs:element name="CopyToOutputDirectory">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Page_CopyToOutputDirectory" _locComment="" -->Copy file to output directory (optional, boolean, default false)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                    
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="Page_Include" _locComment="" -->Semi-colon separated list of XAML files (wildcards are allowed)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="Resource" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Resource" _locComment="" -->File that is compiled into the assembly</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="DependentUpon"/>
                            <xs:element name="Generator">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Resource_Generator" _locComment="" -->Name of any file generator that is run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                  
                            <xs:element name="LastGenOutput"/>
                            <xs:element name="CustomToolNamespace"/>
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Resource_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Group"/>
                            <xs:element name="SubType"/>
                            <xs:element name="CopyToOutputDirectory">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="Resource_CopyToOutputDirectory" _locComment="" -->Copy file to output directory (optional, boolean, default false)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                    
                        </xs:choice>
                    </xs:sequence>
                    <!-- redefine Include just to give a specific description -->
                    <xs:attribute name="Include" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation><!-- _locID_text="Resource_Include" _locComment="" -->Semi-colon separated list of files (wildcards are allowed)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
<!-- ncbi: removed ApplicationDefinition -->
    <xs:element name="None" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="None" _locComment="" -->Files that should have no role in the build process</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="DependentUpon"/>
                            <xs:element name="Generator">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="None_Generator" _locComment="" -->Name of any file generator that is run on this item</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                  
                            <xs:element name="LastGenOutput"/>
                            <xs:element name="CustomToolNamespace"/>
                            <xs:element name="Link">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="None_Link" _locComment="" -->Notional path within project to display if the file is physically located outside of the project file's cone (optional)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="None_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="CopyToOutputDirectory"/>                            
                            <xs:any processContents="lax"/>
                        </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed BaseApplicationManifest -->
    <xs:element name="Folder" type="msb:SimpleItemType" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Folder" _locComment="" -->Folder on disk</xs:documentation>
        </xs:annotation>
    </xs:element>
<!-- ncbi: removed Import -->
    <xs:element name="Service" type="msb:SimpleItemType" substitutionGroup="msb:Item"/>
    <xs:element name="WebReferences" type="msb:SimpleItemType" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="WebReferences" _locComment="" -->Name of Web References folder to display in user interface</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="WebReferenceUrl" substitutionGroup="msb:Item">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="WebReferenceUrl" _locComment="" -->Represents a reference to a web service</xs:documentation>
        </xs:annotation>        
            <xs:complexType>
                <xs:complexContent>
                    <xs:extension base="msb:SimpleItemType">
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:choice>
                                <xs:element name="UrlBehavior"/>
                                <xs:element name="RelPath"/>
                                <xs:element name="UpdateFromURL"/>
                                <xs:element name="ServiceLocationURL"/>
                                <xs:element name="CachedDynamicPropName"/>
                                <xs:element name="CachedAppSettingsObjectName"/>
                                <xs:element name="CachedSettingsPropName"/>
                            </xs:choice>
                        </xs:sequence>
                        <!-- redefine Include just to give a specific description -->
                        <xs:attribute name="Include" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation><!-- _locID_text="WebReferenceUrl_Include" _locComment="" -->URL to web service</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>                        
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
    </xs:element>
    <xs:element name="FileAssociation" substitutionGroup="msb:Item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="FileAssociation_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="DefaultIcon"/>
                            <xs:element name="Description"/>
                            <xs:element name="Progid"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed BootstrapperFile -->
    <xs:element name="PublishFile" substitutionGroup="msb:Item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="Visible">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="PublishFile_InProject" _locComment="" -->Display in user interface (optional, boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>                                
                            <xs:element name="Group"/>
                            <xs:element name="IncludeHash">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="PublishFile_IncludeHash" _locComment="" -->(boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="IsAssembly">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="PublishFile_IsAssembly" _locComment="" -->(boolean)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="PublishState">
                                <xs:annotation>
                                    <xs:documentation><!-- _locID_text="PublishFile_PublishState" _locComment="" -->Default, Included, Excluded, DataFile, ManifestEntryPoint, or Prerequisite</xs:documentation>
                                </xs:annotation>
                            </xs:element>                            
                        </xs:choice>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- ======================== PROPERTIES =====================================-->
    <!-- Possible Types include StringPropertyType (text with no subelements), GenericPropertyType (any content), or something more specific.-->
<!-- ncbi: removed AllowUnsafeBlocks -->
<!-- ncbi: removed AppConfigForCompiler -->
<!-- ncbi: removed ApplicationIcon -->
<!-- ncbi: removed ApplicationRevision -->
<!-- ncbi: removed ApplicationVersion -->
<!-- ncbi: removed AppDesignerFolder -->
<!-- ncbi: removed AspNetConfiguration -->
<!-- ncbi: removed AssemblyKeyContainerName -->
<!-- ncbi: removed AssemblyKeyProviderName -->
<!-- ncbi: removed AssemblyName -->
<!-- ncbi: removed AssemblyOriginatorKeyFile -->
<!-- ncbi: removed AssemblyOriginatorKeyFileType -->
<!-- ncbi: removed AssemblyOriginatorKeyMode -->
<!-- ncbi: removed AssemblyType -->
<!-- ncbi: removed AutorunEnabled -->

    <xs:element name="BaseAddress" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed BootstrapperComponentsLocation -->
<!-- ncbi: removed BootstrapperComponentsUrl -->
<!-- ncbi: removed BootstrapperEnabled -->

    <xs:element name="CharacterSet" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed CheckForOverflowUnderflow -->
    <xs:element name="CLRSupport" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed CodePage -->
    <xs:element name="Configuration" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed ConfigurationName -->
<!-- ncbi: removed ConfigurationOverrideFile -->
<!-- ncbi: removed CreateDesktopShortcut -->
<!-- ncbi: removed CreateWebPageOnPublish -->
<!-- ncbi: removed CurrentSolutionConfigurationContents -->
<!-- ncbi: removed DebugSecurityZoneURL -->
    <xs:element name="DebugSymbols" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="DebugSymbols" _locComment="" -->Whether to emit symbols (boolean)</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="DebugType" type="msb:StringPropertyType" substitutionGroup="msb:Property">   
        <xs:annotation>
            <xs:documentation><!-- _locID_text="DebugType" _locComment="" -->none, pdbonly, or full</xs:documentation>
        </xs:annotation>
    </xs:element>         
<!-- ncbi: removed DefaultClientScript -->
<!-- ncbi: removed DefaultHTMLPageLayout -->
<!-- ncbi: removed DefaultTargetSchema -->
<!-- ncbi: removed DefineConstants -->
<!-- ncbi: removed DefineDebug -->
<!-- ncbi: removed DefineTrace -->
<!-- ncbi: removed DelaySign -->
<!-- ncbi: removed DisableLangXtns -->
<!-- ncbi: removed CodeAnalysisAdditionalOptions -->
<!-- ncbi: removed CodeAnalysisApplyLogFileXsl -->
<!-- ncbi: removed CodeAnalysisConsoleXsl -->
<!-- ncbi: removed CodeAnalysisCulture -->
<!-- ncbi: removed CodeAnalysisDependentAssemblyPaths -->
<!-- ncbi: removed CodeAnalysisDictionary -->
<!-- ncbi: removed CodeAnalysisFailOnMissingRules -->
<!-- ncbi: removed CodeAnalysisForceOutput -->
<!-- ncbi: removed CodeAnalysisGenerateSuccessFile -->
<!-- ncbi: removed CodeAnalysisIgnoreBuiltInRules -->
<!-- ncbi: removed CodeAnalysisIgnoreBuiltInRuleSets -->
<!-- ncbi: removed CodeAnalysisIgnoreInvalidTargets -->
<!-- ncbi: removed CodeAnalysisIgnoreGeneratedCode -->
<!-- ncbi: removed CodeAnalysisImport -->
<!-- ncbi: removed CodeAnalysisInputAssembly -->
<!-- ncbi: removed CodeAnalysisLogFile -->
<!-- ncbi: removed CodeAnalysisLogFileXsl -->
<!-- ncbi: removed CodeAnalysisModuleSuppressionsFile -->
<!-- ncbi: removed CodeAnalysisOverrideRuleVisibilities -->
<!-- ncbi: removed CodeAnalysisOutputToConsole -->
<!-- ncbi: removed CodeAnalysisVerbose -->
<!-- ncbi: removed CodeAnalysisPath -->
<!-- ncbi: removed CodeAnalysisPlatformPath -->
<!-- ncbi: removed CodeAnalysisProject -->
<!-- ncbi: removed CodeAnalysisQuiet -->
<!-- ncbi: removed CodeAnalysisRuleAssemblies -->
<!-- ncbi: removed CodeAnalysisRuleDirectories -->
<!-- ncbi: removed CodeAnalysisRules -->
<!-- ncbi: removed CodeAnalysisRuleSet -->
<!-- ncbi: removed CodeAnalysisRuleSetDirectories -->
<!-- ncbi: removed CodeAnalysisSaveMessagesToReport -->
<!-- ncbi: removed CodeAnalysisSearchGlobalAssemblyCache -->
<!-- ncbi: removed CodeAnalysisSummary -->
<!-- ncbi: removed CodeAnalysisTimeout -->
<!-- ncbi: removed CodeAnalysisTreatWarningsAsErrors -->
<!-- ncbi: removed CodeAnalysisUpdateProject -->
<!-- ncbi: removed CodeAnalysisUseTypeNameInSuppression -->

    <xs:element name="ConfigurationType" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="DeployDirSuffix" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed DocumentationFile -->
<!-- ncbi: removed EnableASPDebugging -->
<!-- ncbi: removed EnableASPXDebugging -->
    <xs:element name="EnableSQLServerDebugging" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="EnableSecurityDebugging" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="EnableUnmanagedDebugging" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ErrorReport" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="EmbedManifest" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ErrorReportUrl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed ExcludeDeploymentUrl -->
<!-- ncbi: removed ExcludedPermissions -->
<!-- ncbi: removed FallbackCulture -->
<!-- ncbi: removed FileAlignment -->
<!-- ncbi: removed FileUpgradeFlags -->
<!-- ncbi: removed FormFactorID -->
<!-- ncbi: removed FrameworkPathOverride -->
<!-- ncbi: removed GenerateManifests -->
<!-- ncbi: removed GenerateSerializationAssemblies -->
<!-- ncbi: removed HostInBrowser -->
    <xs:element name="IgnoreImportLibrary" type="msb:boolean" substitutionGroup="msb:Property"/>
    <xs:element name="Install" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="InstallFrom" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="InstallFrom" _locComment="" -->Web, Unc, or Disk</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InstallUrl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed IsWebBootstrapper -->
<!-- ncbi: removed JCPA -->
    <xs:element name="Keyword" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="LangVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="LinkIncremental" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed ManifestCertificateThumbprint -->
<!-- ncbi: removed ManifestKeyFile -->
    <xs:element name="MapFileExtensions" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="MapFileExtensions" _locComment="" -->boolean</xs:documentation>
        </xs:annotation>
    </xs:element>                
    <xs:element name="MinimumRequiredVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="MinimumRequiredVersion" _locComment="" -->Matches the expression "\d\.\d\.\d\.\d"</xs:documentation>
        </xs:annotation>
    </xs:element>                
    <xs:element name="MyType" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="NoConfig" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>    
    <xs:element name="NoStandardLibraries" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="NoStdLib" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="NoStdLib" _locComment="" -->Whether standard libraries (such as mscorlib) should be referenced automatically (boolean)</xs:documentation>
        </xs:annotation>
    </xs:element>          
    <xs:element name="NoWarn" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="NoWarn" _locComment="" -->Comma separated list of disabled warnings</xs:documentation>
        </xs:annotation>
    </xs:element>   
<!-- ncbi: removed OldToolsVersion -->
    <xs:element name="OutDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TargetExt" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TargetName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed OpenBrowserOnPublish -->
    <xs:element name="Optimize" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="Optimize" _locComment="" -->Should compiler optimize output (boolean)</xs:documentation>
        </xs:annotation>
    </xs:element>     
    <xs:element name="OptionCompare" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OptionCompare" _locComment="" -->Option Compare setting (Text or Binary)</xs:documentation>
        </xs:annotation>
    </xs:element>         
    <xs:element name="OptionExplicit" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OptionExplicit" _locComment="" -->Should Option Explicit be set (On or Off)</xs:documentation>
        </xs:annotation>
    </xs:element>         
    <xs:element name="OptionStrict" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OptionStrict" _locComment="" -->Should Option Strict be set (On or Off)</xs:documentation>
        </xs:annotation>
    </xs:element>       
    <xs:element name="OptionInfer" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OptionInfer" _locComment="" -->Should Option Infer be set (On or Off)</xs:documentation>
        </xs:annotation>
    </xs:element>            
    <xs:element name="OSVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="OutputPath" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OutputPath" _locComment="" -->Path to output folder, with trailing slash</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="OutputType" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="OutputType" _locComment="" -->Type of output to generate (WinExe, Exe, or Library)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Platform" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PlatformName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PlatformFamilyName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>    
    <xs:element name="PlatformID" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>    
    <xs:element name="PlatformTarget" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PostBuildEvent" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="PostBuildEvent" _locComment="" -->Command line to be run at the end of build</xs:documentation>
        </xs:annotation>
    </xs:element>          
    <xs:element name="PreBuildEvent" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="PreBuildEvent" _locComment="" -->Command line to be run at the start of build</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="ProductName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ProductVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ProjectGuid" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ProjectType" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ProjectTypeGuids" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PublisherName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PublishUrl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed RecursePath -->
<!-- ncbi: removed ReferencePath -->
<!-- ncbi: removed RegisterForComInterop -->
    <xs:element name="RemoteDebugEnabled" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="RemoteDebugMachine" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="RemoveIntegerChecks" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ResponseFile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="RootNamespace" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed SccProjectName -->
<!-- ncbi: removed SccLocalPath -->
<!-- ncbi: removed SccProvider -->
<!-- ncbi: removed RunCodeAnalysis -->
    <xs:element name="RunPostBuildEvent" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SchemaVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SecureScoping" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SignAssembly" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SignManifests" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SolutionDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SolutionExt" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SolutionFileName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SolutionName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SolutionPath" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartAction" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartArguments" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartPage" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartProgram" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartURL" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed StartWithIE -->
    <xs:element name="StartWorkingDirectory" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="StartupObject" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="StartupObject" _locComment="" -->Type that contains the main entry point</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="SuiteName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="SupportUrl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TargetFrameworkProfile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TargetCulture" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TargetFrameworkVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>    
    <xs:element name="TargetZone" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TreatWarningsAsErrors" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="TrustUrlParameters" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="TrustUrlParameters" _locComment="" -->boolean</xs:documentation>
        </xs:annotation>
    </xs:element>                
    <xs:element name="TypeComplianceDiagnostics" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UICulture" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UpgradeBackupLocation" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>     
    <xs:element name="UpdateEnabled" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="UpdateEnabled" _locComment="" -->boolean</xs:documentation>
        </xs:annotation>
    </xs:element>                
    <xs:element name="UpdateInterval" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UpdateIntervalUnits" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="UpdateIntervalUnits" _locComment="" -->Hours, Days, or Weeks</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="UpdateMode" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="UpdateMode" _locComment="" -->Foreground or Background</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="UpdatePeriodically" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="UpdatePeriodically" _locComment="" -->boolean</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="UpdateRequired" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="UpdateRequired" _locComment="" -->boolean</xs:documentation>
        </xs:annotation>
    </xs:element>                
    <xs:element name="UpdateUrl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>    
    <xs:element name="UseAppConfigForCompiler" type="msb:boolean" substitutionGroup="msb:Property"/>
    <xs:element name="UseApplicationTrust" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UseOfMfc" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UseOfAtl" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UseVSHostingProcess" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UTF8OutPut" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
<!-- ncbi: removed VSTO_TrustAssembliesLocation -->
    <xs:element name="WarningLevel" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="WarningLevel" _locComment="" -->integer between 0 and 4 inclusive</xs:documentation>
        </xs:annotation>
    </xs:element>        
    <xs:element name="WarningsAsErrors" type="msb:StringPropertyType" substitutionGroup="msb:Property">
        <xs:annotation>
            <xs:documentation><!-- _locID_text="WarningsAsErrors" _locComment="" -->Comma separated list of warning numbers to treat as errors</xs:documentation>
        </xs:annotation>
    </xs:element>          
    <xs:element name="WebPage" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="Win32ResourceFile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="WholeProgramOptimization" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <!-- ======================== TASKS =====================================-->
<!-- ncbi: removed AL -->
<!-- ncbi: removed AspNetCompiler -->
<!-- ncbi: removed AssignCulture -->
<!-- ncbi: removed AssignProjectConfiguration -->
<!-- ncbi: removed AssignTargetPath -->
<!-- ncbi: removed AxImp -->
<!-- ncbi: removed CallTarget -->
<!-- ncbi: removed CombinePath -->
<!-- ncbi: removed ConvertToAbsolutePath -->
<!-- ncbi: removed Copy -->
<!-- ncbi: removed CreateCSharpManifestResourceName -->
<!-- ncbi: removed CreateItem -->
<!-- ncbi: removed CreateProperty -->
<!-- ncbi: removed CreateVisualBasicManifestResourceName -->
<!-- ncbi: removed Csc -->
<!-- ncbi: removed Delete -->
<!-- ncbi: removed Error -->
<!-- ncbi: removed Exec -->
<!-- ncbi: removed FindAppConfigFile -->
<!-- ncbi: removed FindInList -->
<!-- ncbi: removed FindUnderPath -->
<!-- ncbi: removed FormatUrl -->
<!-- ncbi: removed FormatVersion -->
<!-- ncbi: removed GenerateApplicationManifest -->
<!-- ncbi: removed GenerateBootstrapper -->
<!-- ncbi: removed GenerateDeploymentManifest -->
<!-- ncbi: removed GenerateResource -->
<!-- ncbi: removed GenerateTrustInfo -->
<!-- ncbi: removed GetAssemblyIdentity -->
<!-- ncbi: removed GetFrameworkPath -->
<!-- ncbi: removed GetFrameworkSdkPath -->
<!-- ncbi: removed GetReferenceAssemblyPaths -->
<!-- ncbi: removed LC -->
<!-- ncbi: removed MakeDir -->
<!-- ncbi: removed Message -->
<!-- ncbi: removed Move -->
    <xs:element name="MSBuild" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="BuildInParallel" type="msb:boolean" />
                    <xs:attribute name="Projects" use="required" />
                    <xs:attribute name="Properties" />
                    <xs:attribute name="RebaseOutputs" type="msb:boolean" />
                    <xs:attribute name="RunEachTargetSeparately" type="msb:boolean" />
                    <xs:attribute name="SkipNonexistentProjects" type="msb:boolean" />
                    <xs:attribute name="StopOnFirstFailure" type="msb:boolean" />
                    <xs:attribute name="TargetAndPropertyListSeparators" />
                    <xs:attribute name="Targets" />
                    <xs:attribute name="ToolsVersion" />
                    <xs:attribute name="UnloadProjectsOnCompletion" type="msb:boolean" />
                    <xs:attribute name="UseResultsCache" type="msb:boolean" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed ReadLinesFromFile -->
<!-- ncbi: removed RegisterAssembly -->
<!-- ncbi: removed RemoveDir -->
<!-- ncbi: removed RemoveDuplicates -->
<!-- ncbi: removed RequiresFramework35SP1Assembly -->
<!-- ncbi: removed ResolveAssemblyReference -->
<!-- ncbi: removed ResolveComReference -->
<!-- ncbi: removed ResolveKeySource -->
<!-- ncbi: removed ResolveManifestFiles -->
<!-- ncbi: removed ResolveNativeReference -->
<!-- ncbi: removed ResolveNonMSBuildProjectOutput -->
<!-- ncbi: removed SGen -->
<!-- ncbi: removed SignFile -->
<!-- ncbi: removed TlbImp -->
<!-- ncbi: removed Touch -->
<!-- ncbi: removed UnregisterAssembly -->
<!-- ncbi: removed UpdateManifest -->
<!-- ncbi: removed Vbc -->
<!-- ncbi: removed VCBuild -->
<!-- ncbi: removed Warning -->
<!-- ncbi: removed WriteCodeFragment -->
<!-- ncbi: removed WriteLinesToFile -->
<!-- ncbi: removed XslTransformation -->
<!-- ncbi: removed CodeAnalysis -->
    <!-- ==================== NATIVE CL/LINK TASKS ==========================-->
    <xs:element name="CL" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="AcceptableNonZeroExitCodes" />
                    <xs:attribute name="ActiveToolSwitchesValues" />
                    <xs:attribute name="AdditionalIncludeDirectories" />
                    <xs:attribute name="AdditionalOptions" />
                    <xs:attribute name="AdditionalUsingDirectories" />
                    <xs:attribute name="AssemblerListingLocation" />
                    <xs:attribute name="AssemblerOutput" />
                    <xs:attribute name="BasicRuntimeChecks" />
                    <xs:attribute name="BrowseInformation" type="msb:boolean" />
                    <xs:attribute name="BrowseInformationFile" />
                    <xs:attribute name="BufferSecurityCheck" type="msb:boolean" />
                    <xs:attribute name="CallingConvention" />
                    <xs:attribute name="CompileAs" />
                    <xs:attribute name="CompileAsManaged" />
                    <xs:attribute name="CreateHotpatchableImage" type="msb:boolean" />
                    <xs:attribute name="DebugInformationFormat" />
                    <xs:attribute name="DisableLanguageExtensions" type="msb:boolean" />
                    <xs:attribute name="DisableSpecificWarnings" />
                    <xs:attribute name="EnableEnhancedInstructionSet" />
                    <xs:attribute name="EnableFiberSafeOptimizations" type="msb:boolean" />
                    <xs:attribute name="EnablePREfast" type="msb:boolean" />
                    <xs:attribute name="EnvironmentVariables" />
                    <xs:attribute name="ErrorReporting" />
                    <xs:attribute name="ExceptionHandling" />
                    <xs:attribute name="ExcludedInputPaths" />
                    <xs:attribute name="ExpandAttributedSource" type="msb:boolean" />
                    <xs:attribute name="FavorSizeOrSpeed" />
                    <xs:attribute name="FloatingPointExceptions" type="msb:boolean" />
                    <xs:attribute name="FloatingPointModel" />
                    <xs:attribute name="ForceConformanceInForLoopScope" type="msb:boolean" />
                    <xs:attribute name="ForcedIncludeFiles" />
                    <xs:attribute name="ForcedUsingFiles" />
                    <xs:attribute name="FunctionLevelLinking" type="msb:boolean" />
                    <xs:attribute name="GenerateXMLDocumentationFiles" type="msb:boolean" />
                    <xs:attribute name="IgnoreStandardIncludePath" type="msb:boolean" />
                    <xs:attribute name="InlineFunctionExpansion" />
                    <xs:attribute name="IntrinsicFunctions" type="msb:boolean" />
                    <xs:attribute name="LogStandardErrorAsError" type="msb:boolean" />
                    <xs:attribute name="MinimalRebuild" type="msb:boolean" />
                    <xs:attribute name="MinimalRebuildFromTracking" type="msb:boolean" />
                    <xs:attribute name="MultiProcessorCompilation" type="msb:boolean" />
                    <xs:attribute name="ObjectFileName" />
                    <xs:attribute name="ObjectFiles" />
                    <xs:attribute name="OmitDefaultLibName" type="msb:boolean" />
                    <xs:attribute name="OmitFramePointers" type="msb:boolean" />
                    <xs:attribute name="OpenMPSupport" type="msb:boolean" />
                    <xs:attribute name="Optimization" />
                    <xs:attribute name="PathOverride" />
                    <xs:attribute name="PrecompiledHeader" />
                    <xs:attribute name="PrecompiledHeaderFile" />
                    <xs:attribute name="PrecompiledHeaderOutputFile" />
                    <xs:attribute name="PreprocessKeepComments" type="msb:boolean" />
                    <xs:attribute name="PreprocessorDefinitions" />
                    <xs:attribute name="PreprocessOutput" />
                    <xs:attribute name="PreprocessSuppressLineNumbers" type="msb:boolean" />
                    <xs:attribute name="PreprocessToFile" type="msb:boolean" />
                    <xs:attribute name="ProcessorNumber" />
                    <xs:attribute name="ProgramDataBaseFileName" />
                    <xs:attribute name="RuntimeLibrary" />
                    <xs:attribute name="RuntimeTypeInfo" type="msb:boolean" />
                    <xs:attribute name="ShowIncludes" type="msb:boolean" />
                    <xs:attribute name="SkippedExecution" type="msb:boolean" />
                    <xs:attribute name="SmallerTypeCheck" type="msb:boolean" />
                    <xs:attribute name="Sources" use="required" />
                    <xs:attribute name="SourcesCompiled" />
                    <xs:attribute name="StandardErrorImportance" />
                    <xs:attribute name="StandardOutputImportance" />
                    <xs:attribute name="StringPooling" type="msb:boolean" />
                    <xs:attribute name="StructMemberAlignment" />
                    <xs:attribute name="SuppressStartupBanner" type="msb:boolean" />
                    <xs:attribute name="Timeout" />
                    <xs:attribute name="TLogReadFiles" />
                    <xs:attribute name="TLogWriteFiles" />
                    <xs:attribute name="ToolExe" />
                    <xs:attribute name="ToolPath" />
                    <xs:attribute name="TrackedInputFilesToIgnore" />
                    <xs:attribute name="TrackedOutputFilesToIgnore" />
                    <xs:attribute name="TrackerLogDirectory" />
                    <xs:attribute name="TrackFileAccess" type="msb:boolean" />
                    <xs:attribute name="TreatSpecificWarningsAsErrors" />
                    <xs:attribute name="TreatWarningAsError" type="msb:boolean" />
                    <xs:attribute name="TreatWChar_tAsBuiltInType" type="msb:boolean" />
                    <xs:attribute name="UndefineAllPreprocessorDefinitions" type="msb:boolean" />
                    <xs:attribute name="UndefinePreprocessorDefinitions" />
                    <xs:attribute name="UseFullPaths" type="msb:boolean" />
                    <xs:attribute name="UseUnicodeForAssemblerListing" type="msb:boolean" />
                    <xs:attribute name="WarningLevel" />
                    <xs:attribute name="WholeProgramOptimization" type="msb:boolean" />
                    <xs:attribute name="XMLDocumentationFileName" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Link" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="AcceptableNonZeroExitCodes" />
                    <xs:attribute name="ActiveToolSwitchesValues" />
                    <xs:attribute name="AdditionalDependencies" />
                    <xs:attribute name="AdditionalLibraryDirectories" />
                    <xs:attribute name="AdditionalManifestDependencies" />
                    <xs:attribute name="AdditionalOptions" />
                    <xs:attribute name="AddModuleNamesToAssembly" />
                    <xs:attribute name="AllowIsolation" type="msb:boolean" />
                    <xs:attribute name="AssemblyDebug" type="msb:boolean" />
                    <xs:attribute name="AssemblyLinkResource" />
                    <xs:attribute name="BaseAddress" />
                    <xs:attribute name="CLRImageType" />
                    <xs:attribute name="CLRSupportLastError" />
                    <xs:attribute name="CLRThreadAttribute" />
                    <xs:attribute name="CLRUnmanagedCodeCheck" type="msb:boolean" />
                    <xs:attribute name="CreateHotPatchableImage" />
                    <xs:attribute name="DataExecutionPrevention" type="msb:boolean" />
                    <xs:attribute name="DelayLoadDLLs" />
                    <xs:attribute name="DelaySign" type="msb:boolean" />
                    <xs:attribute name="Driver" />
                    <xs:attribute name="EmbedManagedResourceFile" />
                    <xs:attribute name="EnableCOMDATFolding" type="msb:boolean" />
                    <xs:attribute name="EnableUAC" type="msb:boolean" />
                    <xs:attribute name="EntryPointSymbol" />
                    <xs:attribute name="EnvironmentVariables" />
                    <xs:attribute name="ExcludedInputPaths" />
                    <xs:attribute name="FixedBaseAddress" type="msb:boolean" />
                    <xs:attribute name="ForceFileOutput" />
                    <xs:attribute name="ForceSymbolReferences" />
                    <xs:attribute name="FunctionOrder" />
                    <xs:attribute name="GenerateDebugInformation" type="msb:boolean" />
                    <xs:attribute name="GenerateManifest" type="msb:boolean" />
                    <xs:attribute name="GenerateMapFile" type="msb:boolean" />
                    <xs:attribute name="HeapCommitSize" />
                    <xs:attribute name="HeapReserveSize" />
                    <xs:attribute name="IgnoreAllDefaultLibraries" type="msb:boolean" />
                    <xs:attribute name="IgnoreEmbeddedIDL" type="msb:boolean" />
                    <xs:attribute name="IgnoreImportLibrary" type="msb:boolean" />
                    <xs:attribute name="IgnoreSpecificDefaultLibraries" />
                    <xs:attribute name="ImageHasSafeExceptionHandlers" type="msb:boolean" />
                    <xs:attribute name="ImportLibrary" />
                    <xs:attribute name="KeyContainer" />
                    <xs:attribute name="KeyFile" />
                    <xs:attribute name="LargeAddressAware" type="msb:boolean" />
                    <xs:attribute name="LinkDLL" type="msb:boolean" />
                    <xs:attribute name="LinkErrorReporting" />
                    <xs:attribute name="LinkIncremental" type="msb:boolean" />
                    <xs:attribute name="LinkLibraryDependencies" type="msb:boolean" />
                    <xs:attribute name="LinkStatus" type="msb:boolean" />
                    <xs:attribute name="LinkTimeCodeGeneration" />
                    <xs:attribute name="LogStandardErrorAsError" type="msb:boolean" />
                    <xs:attribute name="ManifestFile" />
                    <xs:attribute name="MapExports" type="msb:boolean" />
                    <xs:attribute name="MapFileName" />
                    <xs:attribute name="MergedIDLBaseFileName" />
                    <xs:attribute name="MergeSections" />
                    <xs:attribute name="MidlCommandFile" />
                    <xs:attribute name="MinimalRebuildFromTracking" type="msb:boolean" />
                    <xs:attribute name="MinimumRequiredVersion" />
                    <xs:attribute name="ModuleDefinitionFile" />
                    <xs:attribute name="MSDOSStubFileName" />
                    <xs:attribute name="NoEntryPoint" type="msb:boolean" />
                    <xs:attribute name="ObjectFiles" />
                    <xs:attribute name="OptimizeReferences" type="msb:boolean" />
                    <xs:attribute name="OutputFile" />
                    <xs:attribute name="PathOverride" />
                    <xs:attribute name="PerUserRedirection" type="msb:boolean" />
                    <xs:attribute name="PreprocessOutput" />
                    <xs:attribute name="PreventDllBinding" type="msb:boolean" />
                    <xs:attribute name="Profile" type="msb:boolean" />
                    <xs:attribute name="ProfileGuidedDatabase" />
                    <xs:attribute name="ProgramDatabaseFile" />
                    <xs:attribute name="RandomizedBaseAddress" type="msb:boolean" />
                    <xs:attribute name="RegisterOutput" type="msb:boolean" />
                    <xs:attribute name="SectionAlignment" />
                    <xs:attribute name="SetChecksum" type="msb:boolean" />
                    <xs:attribute name="ShowProgress" />
                    <xs:attribute name="SkippedExecution" type="msb:boolean" />
                    <xs:attribute name="Sources" use="required" />
                    <xs:attribute name="SourcesCompiled" />
                    <xs:attribute name="SpecifySectionAttributes" />
                    <xs:attribute name="StackCommitSize" />
                    <xs:attribute name="StackReserveSize" />
                    <xs:attribute name="StandardErrorImportance" />
                    <xs:attribute name="StandardOutputImportance" />
                    <xs:attribute name="StripPrivateSymbols" />
                    <xs:attribute name="SubSystem" />
                    <xs:attribute name="SupportNobindOfDelayLoadedDLL" type="msb:boolean" />
                    <xs:attribute name="SupportUnloadOfDelayLoadedDLL" type="msb:boolean" />
                    <xs:attribute name="SuppressStartupBanner" type="msb:boolean" />
                    <xs:attribute name="SwapRunFromCD" type="msb:boolean" />
                    <xs:attribute name="SwapRunFromNET" type="msb:boolean" />
                    <xs:attribute name="TargetMachine" />
                    <xs:attribute name="TerminalServerAware" type="msb:boolean" />
                    <xs:attribute name="Timeout" />
                    <xs:attribute name="TLogReadFiles" />
                    <xs:attribute name="TLogWriteFiles" />
                    <xs:attribute name="ToolExe" />
                    <xs:attribute name="ToolPath" />
                    <xs:attribute name="TrackedInputFilesToIgnore" />
                    <xs:attribute name="TrackedOutputFilesToIgnore" />
                    <xs:attribute name="TrackerLogDirectory" />
                    <xs:attribute name="TrackFileAccess" type="msb:boolean" />
                    <xs:attribute name="TreatLinkerWarningAsErrors" type="msb:boolean" />
                    <xs:attribute name="TurnOffAssemblyGeneration" type="msb:boolean" />
                    <xs:attribute name="TypeLibraryFile" />
                    <xs:attribute name="TypeLibraryResourceID" />
                    <xs:attribute name="UACExecutionLevel" />
                    <xs:attribute name="UACUIAccess" type="msb:boolean" />
                    <xs:attribute name="UseLibraryDependencyInputs" type="msb:boolean" />
                    <xs:attribute name="Version" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- ======================== NATIVE TASKS ==============================-->
<!-- ncbi: removed BSCMake -->
    <xs:element name="CPPClean" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="DeletedFiles" />
                    <xs:attribute name="DoDelete" type="msb:boolean" />
                    <xs:attribute name="FilePatternsToDeleteOnClean" use="required" />
                    <xs:attribute name="FilesExcludedFromClean" />
                    <xs:attribute name="FoldersToClean" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed GetOutputFileName -->
<!-- ncbi: removed IsAssembly -->
    <xs:element name="LIB" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="AcceptableNonZeroExitCodes" />
                    <xs:attribute name="ActiveToolSwitchesValues" />
                    <xs:attribute name="AdditionalDependencies" />
                    <xs:attribute name="AdditionalLibraryDirectories" />
                    <xs:attribute name="AdditionalOptions" />
                    <xs:attribute name="DisplayLibrary" />
                    <xs:attribute name="EnvironmentVariables" />
                    <xs:attribute name="ErrorReporting" />
                    <xs:attribute name="ExcludedInputPaths" />
                    <xs:attribute name="ExportNamedFunctions" />
                    <xs:attribute name="ForceSymbolReferences" />
                    <xs:attribute name="IgnoreAllDefaultLibraries" type="msb:boolean" />
                    <xs:attribute name="IgnoreSpecificDefaultLibraries" />
                    <xs:attribute name="LinkLibraryDependencies" type="msb:boolean" />
                    <xs:attribute name="LinkTimeCodeGeneration" type="msb:boolean" />
                    <xs:attribute name="LogStandardErrorAsError" type="msb:boolean" />
                    <xs:attribute name="MinimalRebuildFromTracking" type="msb:boolean" />
                    <xs:attribute name="MinimumRequiredVersion" />
                    <xs:attribute name="ModuleDefinitionFile" />
                    <xs:attribute name="OutputFile" />
                    <xs:attribute name="PathOverride" />
                    <xs:attribute name="RemoveObjects" />
                    <xs:attribute name="SkippedExecution" type="msb:boolean" />
                    <xs:attribute name="Sources" use="required" />
                    <xs:attribute name="SourcesCompiled" />
                    <xs:attribute name="StandardErrorImportance" />
                    <xs:attribute name="StandardOutputImportance" />
                    <xs:attribute name="SubSystem" />
                    <xs:attribute name="SuppressStartupBanner" type="msb:boolean" />
                    <xs:attribute name="TargetMachine" />
                    <xs:attribute name="Timeout" />
                    <xs:attribute name="TLogReadFiles" />
                    <xs:attribute name="TLogWriteFiles" />
                    <xs:attribute name="ToolExe" />
                    <xs:attribute name="ToolPath" />
                    <xs:attribute name="TrackedInputFilesToIgnore" />
                    <xs:attribute name="TrackedOutputFilesToIgnore" />
                    <xs:attribute name="TrackerLogDirectory" />
                    <xs:attribute name="TrackFileAccess" type="msb:boolean" />
                    <xs:attribute name="TreatLibWarningAsErrors" type="msb:boolean" />
                    <xs:attribute name="UseUnicodeResponseFiles" type="msb:boolean" />
                    <xs:attribute name="Verbose" type="msb:boolean" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed MIDL -->
    <xs:element name="Mt" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="AcceptableNonZeroExitCodes" />
                    <xs:attribute name="ActiveToolSwitchesValues" />
                    <xs:attribute name="AdditionalManifestFiles" />
                    <xs:attribute name="AdditionalOptions" />
                    <xs:attribute name="AssemblyIdentity" />
                    <xs:attribute name="ComponentFileName" />
                    <xs:attribute name="EmbedManifest" type="msb:boolean" />
                    <xs:attribute name="EnvironmentVariables" />
                    <xs:attribute name="ExcludedInputPaths" />
                    <xs:attribute name="GenerateCatalogFiles" type="msb:boolean" />
                    <xs:attribute name="GenerateCategoryTags" type="msb:boolean" />
                    <xs:attribute name="InputResourceManifests" />
                    <xs:attribute name="LogStandardErrorAsError" type="msb:boolean" />
                    <xs:attribute name="ManifestFromManagedAssembly" />
                    <xs:attribute name="MinimalRebuildFromTracking" type="msb:boolean" />
                    <xs:attribute name="OutputManifestFile" />
                    <xs:attribute name="OutputResourceManifests" />
                    <xs:attribute name="PathOverride" />
                    <xs:attribute name="RegistrarScriptFile" />
                    <xs:attribute name="ReplacementsFile" />
                    <xs:attribute name="ResourceOutputFileName" />
                    <xs:attribute name="SkippedExecution" type="msb:boolean" />
                    <xs:attribute name="Sources" />
                    <xs:attribute name="SourcesCompiled" />
                    <xs:attribute name="StandardErrorImportance" />
                    <xs:attribute name="StandardOutputImportance" />
                    <xs:attribute name="SuppressDependencyElement" type="msb:boolean" />
                    <xs:attribute name="SuppressStartupBanner" type="msb:boolean" />
                    <xs:attribute name="Timeout" />
                    <xs:attribute name="TLogReadFiles" />
                    <xs:attribute name="TLogWriteFiles" />
                    <xs:attribute name="ToolExe" />
                    <xs:attribute name="ToolPath" />
                    <xs:attribute name="TrackedInputFilesToIgnore" />
                    <xs:attribute name="TrackedOutputFilesToIgnore" />
                    <xs:attribute name="TrackerLogDirectory" />
                    <xs:attribute name="TrackFileAccess" type="msb:boolean" />
                    <xs:attribute name="TypeLibraryFile" />
                    <xs:attribute name="UpdateFileHashes" type="msb:boolean" />
                    <xs:attribute name="UpdateFileHashesSearchPath" />
                    <xs:attribute name="VerboseOutput" type="msb:boolean" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RC" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="AcceptableNonZeroExitCodes" />
                    <xs:attribute name="ActiveToolSwitchesValues" />
                    <xs:attribute name="AdditionalIncludeDirectories" />
                    <xs:attribute name="AdditionalOptions" />
                    <xs:attribute name="Culture" />
                    <xs:attribute name="EnvironmentVariables" />
                    <xs:attribute name="ExcludedInputPaths" />
                    <xs:attribute name="IgnoreStandardIncludePath" type="msb:boolean" />
                    <xs:attribute name="LogStandardErrorAsError" type="msb:boolean" />
                    <xs:attribute name="MinimalRebuildFromTracking" type="msb:boolean" />
                    <xs:attribute name="NullTerminateStrings" type="msb:boolean" />
                    <xs:attribute name="PathOverride" />
                    <xs:attribute name="PreprocessorDefinitions" />
                    <xs:attribute name="ResourceOutputFileName" />
                    <xs:attribute name="ShowProgress" type="msb:boolean" />
                    <xs:attribute name="SkippedExecution" type="msb:boolean" />
                    <xs:attribute name="Source" use="required" />
                    <xs:attribute name="SourcesCompiled" />
                    <xs:attribute name="StandardErrorImportance" />
                    <xs:attribute name="StandardOutputImportance" />
                    <xs:attribute name="Timeout" />
                    <xs:attribute name="TLogReadFiles" />
                    <xs:attribute name="TLogWriteFiles" />
                    <xs:attribute name="ToolExe" />
                    <xs:attribute name="ToolPath" />
                    <xs:attribute name="TrackedInputFilesToIgnore" />
                    <xs:attribute name="TrackedOutputFilesToIgnore" />
                    <xs:attribute name="TrackerLogDirectory" />
                    <xs:attribute name="TrackFileAccess" type="msb:boolean" />
                    <xs:attribute name="UndefinePreprocessorDefinitions" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<!-- ncbi: removed SetEnv -->
<!-- ncbi: removed XDCMake -->
<!-- ncbi: removed XSD -->
<!-- ncbi: removed VCMessage -->
</xs:schema>
